.blog-section{
    margin: 80px 0;
}

.blog-container{
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 100%;
    gap:40px;
}

.blog-controls{
    display: grid;
    grid-template-columns: 100%;
    font-weight: 600;
    color: var(--secondary-01);
}

.latest-posts h2{
    font-size: 30px;
    line-height: 110.5%;
    font-weight: 600;
}

.blog-controls-buttons{
    display: flex;
    flex-direction: column;
    gap:20px
}

.blog-controls-button{
    display: flex;
    justify-content: center;
    border: 1.5px solid var(--secondary-01);
    background-color: #fff;
    color: var(--secondary-01);
    border-radius: 7px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 160%;
    width: 100%;
    transition: all 0.3s ease-out;
}

.blog-controls-button.current{
    background-color: var(--secondary-01);
    color: #fff;
}

.blog-card-container{
    background-color:#fff;
    display: grid;
    grid-template-columns: 100%;
    gap:20px;
 
}

@media(min-width:485px){
    .blog-controls-buttons{
        flex-direction: row;
    }
    .latest-posts h2{
        font-size: 35px;
    }
    .blog-controls-button{
        width: fit-content;
        padding: 10px;
    }
    .all-button{
        padding: 10px 20px;
    }
}

@media(min-width:768px){
    .blog-container{
        margin: 100px auto;
    }
    .blog-section{
        margin: 100px 0;
    }
    .blog-card-container{
        grid-template-columns: 48.5% 48.5%;
        justify-content: space-between;
        row-gap: 23px;
    }
    .blog-controls-button {
        padding: 15px;
    }
    .all-button {
        padding: 15px 25px;
    }
}

@media(min-width:990px) {
    .blog-container{
        margin: 120px auto;
    }
    .blog-section {
        margin: 120px 0;
    }
    .blog-card-container{
        row-gap: 25px;
    }
    .blog-controls{
        grid-template-columns: 27% 60%;
        justify-content: space-between;
        align-items: center;
    }
    .latest-posts h2 {
        font-size: 40px;
    }
    .blog-controls-buttons{
        justify-content: flex-end;
    }
}

@media(min-width:1260px) {
    .blog-container{
        margin: 140px auto;
    }
    .blog-section {
        margin: 140px 0;
    }
}