.article-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 92%;
    justify-content: center;
    gap:15px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 20px 0;
    max-width: 1400px;
    border-radius: 10px;
}

.cover-image{
    width:100%;
    height: auto;
}

.article-content{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.article-meta{
    display:flex;
    flex-direction: column;
}

.article-meta p{
    font-family: "Noto Sans";
    letter-spacing: 0.135em;
}

.article-meta a{
    width: fit-content;
    padding:10px 20px;
    border: 1px solid #292930;
    border-radius: 20px;
}

.article-info h4{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #292930;
}

.article-info p{
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 156.5%;
    color: #555;
}

.article-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap:7px;
    width: 100%;
    padding: 7px 0;
    border-radius: 10px;
    font-size: 18px;
    color: #292930;
}

@media (min-width:480px){
    .article-meta{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .article-container{
        padding: 30px 0;
    }
    .article-button{
        width: 158px;
    }
}

@media (min-width:768px){
    .article-container{
        padding: 50px 0;
    }
}

@media (min-width:1260px){
    .article-container{
        grid-template-columns: 38% 38%;
        justify-content: space-evenly;
        align-items: center;
    }
}