.hero{
    position: relative;
    padding-bottom: 62px;
    background-image:linear-gradient(299deg, #ffdbd4, #e9f7ff 90%);
    background-size: 100% ;
    background-repeat: no-repeat;
    overflow: hidden;
}
.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #292930;
    z-index: 2;
}
.banner-circle{
    position: absolute;
    top:-58px;
    right:-430px;
    z-index: 1;
    height: 900px;
    width: 900px;
    border-radius: 100%;
    background-image: url('../../assets/grid.png');
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-color:white;
}

.banner-content{
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 60px 5%;
    display: flex;
    flex-direction: column;
    gap:21px;
}
.agency-text{
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.135em;
}

.banner-text{
    font-size: 38px;
    line-height: 110.5%;
}

.dummy-text{
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: 400; 
    line-height: 156.5%;
    color: #555;  
}

.banner-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.banner-getstarted,.banner-services{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1.5px solid #292930;
    border-radius: 7px;
}

.banner-getstarted:hover {
    background-color: #ffdc60;
    color: #292930;
}

.banner-services{
    background-color: #f6f6f6;
    color: #292930;   
}

.banner-getstarted,.banner-services:hover {
    background-color: #292930;
    color: white;
}

.banner-image{
    position: relative;
}

.monitor{
    position: relative;
    width: 90%;
    height: auto;
}

.check{
    position: absolute;
    height: auto;
    width: 16%;
    bottom: 5px;
    left:33px;
}

.bullseye{
    position: absolute;
    width: 15%;
    height: auto;
    bottom: 5px;
    right: 30px;
}
