.hero{
    position: relative;
    padding-bottom: 62px;
    background-image:linear-gradient(299deg, #ffdbd4, #e9f7ff 90%);
    background-size: 100% ;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: auto;
    color: #292930;
    z-index: 2;
}

.banner-circle{
    position: absolute;
    top:-58px;
    right:-430px;
    z-index: 1;
    height: 900px;
    width: 900px;
    border-radius: 100%;
    background-image: url('../../assets/grid.png');
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-color:white;
}

.banner-content{
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap:21px;
}

.agency-text{
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.135em;
}

.banner-text{
    font-size: 38px;
    line-height: 110.5%;
}

.dummy-text{
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: 400; 
    line-height: 156.5%;
    color: #555;  
}

.banner-buttons{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.banner-getstarted,.banner-services{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1.5px solid #292930;
    border-radius: 7px;
    text-align: center;
    transition: all 0.3s;
}

.banner-getstarted:hover {
    background-color: #ffdc60;
    color: #292930;
}

.banner-services{
    background-color: #f6f6f6;
    color: #292930;   
}

.banner-getstarted,.banner-services:hover {
    background-color: #292930;
    color: white;
}

.banner-image{
    position: relative;
    width: 92%;
    margin: auto;
    padding-top: 25px;
}

.monitor{
    position: relative;
    width: 100%;
    height: auto;
}

.check{
    position: absolute;
    height: auto;
    width: 16%;
    bottom: 5px;
    left:33px;
}

.bullseye{
    position: absolute;
    width: 15%;
    height: auto;
    bottom: 7px;
    right: 30px;
}

.star{
    position: absolute;
    top:19%;
    right:3px;
}

.home-services{
    background: #292930;
    padding-top: 60px;
    padding-bottom: 60px;
}

.services-heading{
    margin-bottom: 40px;
}

.services-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    font-weight: 500;
}

.title-sub{
    margin-top: 20px;
    text-align: center;
    color: #D0D0D0;
    font-family: 'Noto Sans';   
}

.title-text{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 118.5%;
    text-align: center;
    padding:0px 10px;
}

.title-sub span{
    color: #ffdc60;
}

.services-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: auto;
    background: #fff;
    color: #292930;
    padding: 20px 15px;
    border-radius:7px ;
    font-size: 18px;
    transition: background 0.4s;
}

.services-button:hover{
    background: #ffdc60;
    color: #292930;
}

.services-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media (min-width:480px){
    .banner-content{
        text-align:left;
    }
    .banner-buttons{
        flex-direction: row;
    }
    .banner-getstarted,.banner-services{
        width: 22%;
    }
    .banner-image{
        width: 80%;
    }
    .monitor{
        width:100%;
    }
}

@media (min-width:990px){
    .hero{
        padding-bottom: 85px;
    }
    .banner{
        flex-direction: row;
        justify-content: space-around;
    }
    .banner-content{
        width: 40%;
        padding-right: 0;
        padding-top: 100px;
    }
    .banner-image{
        width: 50%;
        margin: 0;
    }
    .banner-circle{
        width: 850px;
        height: 850px;
        right: -390px;
        top:-120px;
        background-position: 27% 82%;
    }
    .banner-getstarted,.banner-services {
            width: 35%;
    }
    .services-content {
         width: 96%;
         margin: auto;
         grid-template-columns: 1fr 1fr;
         row-gap: 45px;
    }
}

@media (min-width:1440px){
    .banner-circle{
        width: 810px;
        height: 810px;
        right: -300px;
    }
    .banner-text{
        font-size: 45px;
    }
}

@media(min-width:1800px){
    .banner{
        width: 75%;
        justify-content: space-around;
        margin: 0;
        margin-left: 20%;

    }
    .banner-content{
        width:38%;
        padding-top:120px;
    }
    .banner-image{
        width: 38%;
    }
    .banner-text{
        font-size: 55px;
    }
    .agency-text{
        font-size: 18px;
    }
    .dummy-text{
        font-size: 20px;
    }   
}

@media (min-width:2000px){
    .banner-circle{
        width: 950px;
        width: 950px;
        top:-64px;
        right:-250px;
    }
}