.hero{
    position: relative;
    padding-bottom: 62px;
    background-image:linear-gradient(299deg, #ffdbd4, #e9f7ff 90%);
    background-size: 100% ;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: auto;
    margin-top: -400px;
    color: #292930;
    z-index: 2;
}

.banner-circle{
    position: absolute;
    top:-58px;
    right:-430px;
    z-index: 1;
    height: 900px;
    width: 900px;
    border-radius: 100%;
    background-image: url('../../assets/grid.png');
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-color:white;
}

.banner-content{
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap:21px;
}

.agency-text{
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.135em;
}

.banner-text{
    font-size: 38px;
    line-height: 110.5%;
}

.dummy-text{
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: 400; 
    line-height: 156.5%;
    color: #555;  
}

.banner-buttons{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.banner-getstarted,.banner-services{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1.5px solid #292930;
    border-radius: 7px;
    text-align: center;
    transition: all 0.3s;
}

.banner-getstarted:hover {
    background-color: #ffdc60;
    color: #292930;
}

.banner-services{
    background-color: #f6f6f6;
    color: #292930;   
}

.banner-getstarted,.banner-services:hover {
    background-color: #292930;
    color: white;
}

.banner-image{
    position: relative;
    width: 92%;
    margin: auto;
    padding-top: 25px;
}

.monitor{
    position: relative;
    width: 100%;
    height: auto;
}

.check{
    position: absolute;
    height: auto;
    width: 16%;
    bottom: 5px;
    left:33px;
}

.bullseye{
    position: absolute;
    width: 15%;
    height: auto;
    bottom: 7px;
    right: 30px;
}

.star{
    position: absolute;
    top:19%;
    right:3px;
}

.home-about{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.about-image-container{
    width:100%;
}

.about-image{
    width: 100%;
    height: auto;
}

.about-container{
    position: relative;
    width: 94%;
    margin: auto;
    margin-top: -50px;
    overflow: hidden;
}

.about-sub{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-info{
    font-family: 'Noto Sans';
    font-weight: 500;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    color: #292930;
}

.about-info span{
    color: #ffdc60;
}

.about-title h2{
    font-weight: 600;
    color: #292930;
    font-size: 28px;
    margin-top: 0;
    letter-spacing: 0.36px;
}

.about-text{
    font-family: 'Noto Sans';
    line-height: 156.5%;
    font-size: 18px;
    color: #555555;
}

.about-point{
    margin-top: 45px;
}

.icon-circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.point-header{
    color: #292930;
    font-weight: 600;
    font-size: 22px;
    line-height: 110.5%;
}

.point-text{
    font-family: "Noto Sans";
    font-size: 18px;
    line-height: 156.5%;
    color: #555;
}

.second{
    margin-top: 25px;
}

.home-process{
    width: 92%;
    max-width: 1440px;
    background: linear-gradient(111.05deg, #E9F7FF 9.66%, #FFDBD5 57.52%, #FFF3CA 103.42%);
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    margin:auto;
    margin-top: 40px;
    color: #292930;
}

.illustrations{
    width: 90%;
    margin: auto;
}

.illustrations{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.illustration-content img{
    width:97%;
    height: auto;
    margin: auto;
}

.illustration-text{
    text-align: center;
}

.illustration-text h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.illustration-text p{
    font-weight: 400;
    letter-spacing: 0.34px;
    line-height: 152%;
}

.home-project{
    background-color: #292930;
    margin:50px 0;
    padding: 60px 0;
}

.project-content{
    display: flex;
    flex-direction: column;
    gap:27px
}

.keyboard-background{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    height:fit-content;
    background: linear-gradient(316.69deg, #FFDA57 -11.19%, #FFDA57 20.41%, #5956E8 71.73%, #5956E8 110.15%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.keyboard-background img{
    width: 88%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.25);
}

.pricing-container{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    gap:35px;
    max-width: 1440px;
    margin: auto;
}

.home-article{
    margin-top: 50px;
    margin-bottom: 75px;
}

.more-articles a{
    color: white;
}

.more-articles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 20px 0;
    border-radius: 10px;
    background-color: #292930;
    color: white;
    width: 90%;
    margin: auto;
    transition: all 0.3s ease-out;
}

.more-articles:hover{
    background: rgb(89, 86, 232);
    gap:10px;
}

.more-articles img{
    width:14px;
    height:14px;
}

@media (min-width:480px){
    .banner{
        margin-top:-420px;
    }
    .banner-content{
        text-align:left;
    }
    .banner-buttons{
        flex-direction: row;
    }
    .banner-getstarted,.banner-services{
        width: 22%;
    }
    .banner-image{
        width: 80%;
    }
    .monitor{
        width:100%;
    }
    .about-title h2{
        font-size: 35px;
    }
    .points{
        display:flex;
        gap:30px;
        align-items: center;
    }
    .points img{
        z-index: 1;
        height:100px;
        width: auto;
    }
    .point-container{
        position: relative;
        height: 180px;
        width: 70%;
    }
    .linebreaker{
        position:absolute;
        width: 100%;
        border:1px solid #cfcfcf;
    }
    .point-header,.point-text{
        position: absolute;
    }
    .point-header{
        top:25px;
    }
    .point-text{
        top:75px;
    }
    .second{
        margin-top: 50px;
    }
    .more-articles{
        width:180px;
    }
}

@media (min-width:768px){
    .illustration-content{
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        margin: auto;
    }
    .illustration-content img{
        width:33%;
        margin: 0;
    }
    .illustration-text{
        width: 40%;
        max-width: 400px;
        text-align: left;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    .keyboard-background{
        padding: 30px 0;
    }
    .pricing-container{
        grid-template-columns: 46% 46%;
        gap:15px;
    }
}

@media (min-width:990px){
    .hero{
        padding-bottom: 85px;
    }
    .banner{
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
    }
    .banner-content{
        width: 40%;
        padding-right: 0;
        padding-top: 100px;
    }
    .banner-image{
        width: 50%;
        margin: 0;
    }
    .banner-circle{
        width: 850px;
        height: 850px;
        right: -390px;
        top:-120px;
        background-position: 27% 82%;
    }
    .banner-getstarted,.banner-services {
            width: 35%;
    }
    .about-container{
        width: 70%;
    }
    .about-title h2{
        font-size: 38px;
    }
    .about-point{
        width: 85%;
        margin: auto;
    }
    .about-text,.point-text{
        font-size: 18px;
    }
    .keyboard-background{
        width: 60%;
    }
    .pricing-container{
        grid-template-columns: 30% 30% 30%;
        margin-top: 20px;
    }
    .more-articles {
        width: 195px;
    }
}

@media (min-width:1260px){
    .home-about{
        width:86%;
        flex-direction: row;
        margin: auto;
        max-width: 1440px;
        margin-top: 70px;
    }
    .about-image-container,.about-container{
        width: 50%;
    }
    .about-image{
        width: 140%;
    }
    .about-sub{
        flex-direction: row;
        gap:22px;
        align-items:flex-start;
        margin-top:85px;
    }
    .about-text{
        text-align: justify;
    }
    .about-image-container{
        margin-top: 25px;
    }
    .illustration-content{
        gap:80px;
    }
    .illustration-content img{
        width: 41%;
    }
    .illustration-text h4{
        font-size: 25px;
    }
    .illustration-text p{
        font-size: 19px;
    }
    .project-content{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .keyboard-background{
        width: 45%;
        padding: 42px 0; 
    }
    .keyboard-background img{
        width: 80%;
    } 
    .home-project{
        padding: 80px 0;
    }
    .home-article{
        margin-top: 60px;
    }
}

@media (min-width:1440px){
    .banner-circle{
        width: 810px;
        height: 810px;
        right: -300px;
    }
    .banner-text{
        font-size: 45px;
    }
    .about-point{
        width: 80%;
    }
    .home-process{
        width:82%;
    }
}

@media(min-width:1800px){
    .banner{
        width: 75%;
        justify-content: space-around;
        margin: 0;
        margin-left: 20%;
    }
    .banner-content{
        width:38%;
        padding-top:120px;
    }
    .banner-image{
        width: 38%;
    }
    .banner-text{
        font-size: 55px;
    }
    .agency-text{
        font-size: 18px;
    }
    .dummy-text{
        font-size: 20px;
    }   
}

@media (min-width:2000px){
    .banner-circle{
        width: 950px;
        width: 950px;
        top:-64px;
        right:-250px;
    }
}