.pricing-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:10px;
    width:100%;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

.pricing-card-header{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.pricing-card-image img{
    height: 55px;
    width: auto;
}

.pricing-card-title p{
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

.pricing-card-title h3{
    font-weight: 900;
    font-size: 30px;
    margin: 0;
}

.pricing-subscript{
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 18px;
}

.pricing-points{
    margin-top: 25px;
    border-top: 1px solid #D3D3D3;
    padding-top: 12px;
}

.pricing-point-item{
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap:10px;
}

.pricing-point-item p{
    margin: 11px 0;
}

.pricing-button{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    border-radius: 10px;
    font-size: 18px;
}

.popular{
    background-color: #f6f6f6;
    color: var(--secondary-01);
    transition: all 0.3s ease-out;
}

.popular:hover{
    color: var(--secondary-01);
    background-color: var(--primary-01);
}

.unpopular{
    background-color:var(--secondary-01);
    color: #fff;
    transition: all 0.3s ease-out;
}

.unpopular:hover{
    background-color: var(--primary-01);
    color: var(--secondary-01);
}

@media (min-width:480px){
    .pricing-card{
        padding: 40px 20px;
    }
    .pricing-card-header{
        flex-direction: row;
        align-items: center;
        column-gap: 21px;
    }
    .pricing-card-title h3{
        font-size: 35px;
    }
}

@media(min-width:990px){
    .pricing-card-title h3{
        font-size: 38px;
    }
}

@media(min-width:1280px) {
    .pricing-card{
        padding: 40px;
    }
    .pricing-card-title h3 {
        font-size: 50px;
    }
}