.carousel-container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 30px 0 40px;
    overflow: hidden;
    padding-bottom: 100px;
}

.carousel-inner{
    display: inline-flex; 
}

.carousel-item-outer{
    width: 100vw;
    transition: transform 0.5s ease-out;
}

.carousel-item{
    display: flex;
    flex-direction: column;
    width:90%;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 15px;
    padding: 30px 0 45px;
    margin: auto;
}

.carousel-item-wrapper{
    width:90%;
    margin: auto;
}

.carousel-item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--secondary-01);
    margin: auto;
}

.carousel-item-image img{
    width:76px;
    height: auto;
}

.carousel-item-words h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.carousel-item-words p{
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 400;
    color: #D0D0D0;
    text-align: center;
    line-height: 25.5px;
    letter-spacing: 0.36px;
}

.carousel-item-line{
    border: 1.5px solid #FFFFFF;
    width: 80px;
    margin:auto;
    margin-top: 30px;
}

.left-control,.right-control{
    position: absolute;
    bottom: 0%;
    top: auto;
    left: 0;
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: background-color 0.3s ease-out;
}

.left-control.clicked,.right-control.clicked{
    background-color:#5956E8;
}

.left-control img, .right-control img{
    width:10px;
    height: auto;
}

.left-control{
    left:15%;
}

.right-control{
    left: auto;
    right: 15%;
}

@media (min-width:480px){
    .carousel-container{
        padding-bottom: 0px;
        margin-bottom: 55px;
    }
    .carousel-item-outer{
        width: 350px;
    }
    .carousel-item{
        width: 92%;
    }
    .left-control,.right-control {
        bottom: 45%;
        width: 70px;
        height: 70px;
    } 
    .left-control img,.right-control img {
        height: 22px;
        width: auto;
    }
    .left-control {
        left: 6px;
    }    
   .right-control {
        right: 4%;
    }
}

@media (min-width:768px) {
    .carousel-item-outer{
        width: 380px;
    }
    .carousel-item-image{
        width: 150px;
        height: 150px;
    }
    .carousel-item-line{
        margin-top: 35px;
    }
}

@media (min-width:990px){
    .carousel-item-wrapper{
        width: 88%;
    }
    .carousel-item-image img{
        width: 90px;
    }
}

@media(min-width:1280px){
    .carousel-container{
        overflow: visible;
        display: flex;
        align-self: center;
    }
    .left-control{
        left: -3%;
    }
}