.home-services {
    background: #292930;
    padding-top: 60px;
    padding-bottom: 60px;
}

.wrapper{
    width:90%;
    margin: auto;
    max-width: 1200px;
}

.services-heading {
    max-width: 1400px;
    margin: auto;
    margin-bottom: 40px;
}

.info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    overflow: hidden;
}

.title-sub {
    margin-top: 20px;
    text-align: center;
    font-family: 'Noto Sans';
    letter-spacing: 0.135em;
}

.title-text {
    font-size: 30px;
    font-weight: 600;
    line-height: 118.5%;
    text-align: center;
}

.services-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: auto;
    padding: 22px 0px;
    border-radius: 7px;
    font-size: 18px;
    transition: background 0.4s;
}

.light{
    color: #292930; 
    background-color: #fff;
    transition: all 0.3s ease-out;
}

.dark{
    color: #fff;
    background-color:#292930;
    transition: all 0.3s ease-out;
}

.light:hover,.dark:hover {
    background: #ffdc60;
    color: #292930;
}

.services-content {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media (min-width:480px) {
        .home-services{
            padding: 90px 0;
        }
        .services-title {
            margin: auto;
            align-items: start;
        }
        .info-div{
            align-items: start;
        }
        .title-text {
            font-size: 33px;
        }
        .title-sub,.title-text {
            text-align: left;
        }
        .services-button {
            max-width: 180px;
            margin: 0;
        }
}



@media (min-width:990px) {
    .services-title {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .services-content {
            margin: auto;
            grid-template-columns: 1fr 1fr;
            row-gap: 45px;
    }
    .info-div{
        flex-direction: row;
        align-items: center;
        gap: 35px;
    }
    .title-text{
        font-size: 40px;
        max-width:600px ;
    }
}

@media (min-width:1280px) {
    .services-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title-text{
        max-width: 750px;
    }
    .services-content{
        gap:50px
    }
}

@media (min-width:1440px){
    .title-text{
        font-size: 40px;
    }
    .services-content {
            gap: 60px
    }
}